<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>controller.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Typography</servlet-name>
        <servlet-class>controller.TypographyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Typography</servlet-name>
        <url-pattern>/typography</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelperClasses</servlet-name>
        <servlet-class>controller.HelperClassesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelperClasses</servlet-name>
        <url-pattern>/helper-classes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CardsWidgets</servlet-name>
        <servlet-class>controller.CardsWidgetsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CardsWidgets</servlet-name>
        <url-pattern>/widgets/cards/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InfoBoxWidgets</servlet-name>
        <servlet-class>controller.InfoBoxWidgetsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfoBoxWidgets</servlet-name>
        <url-pattern>/widgets/info-box/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UI</servlet-name>
        <servlet-class>controller.UIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UI</servlet-name>
        <url-pattern>/ui/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Forms</servlet-name>
        <servlet-class>controller.FormsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Forms</servlet-name>
        <url-pattern>/forms/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Tables</servlet-name>
        <servlet-class>controller.TablesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tables</servlet-name>
        <url-pattern>/tables/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Medias</servlet-name>
        <servlet-class>controller.MediasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Medias</servlet-name>
        <url-pattern>/medias/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Charts</servlet-name>
        <servlet-class>controller.ChartsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Charts</servlet-name>
        <url-pattern>/charts/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Examples</servlet-name>
        <servlet-class>controller.ExamplesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Examples</servlet-name>
        <url-pattern>/examples/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Maps</servlet-name>
        <servlet-class>controller.MapsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Maps</servlet-name>
        <url-pattern>/maps/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>_ah_default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>
</web-app>